
[Unit]
Description=Bitcoin Core daemon for network {{ bitcoind_network | capitalize }}
Documentation=https://github.com/fooock/bitcoind-ansible
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/bitcoind -conf=/etc/bitcoin/{{ bitcoind_network }}/bitcoin.conf

# It is recommended to use this field if service Type is set to forking,
# so that systemd can reliably identify the main process of the service.
PIDFile=/run/bitcoind/{{ bitcoind_network }}/bitcoind.pid

# Bitcoin runtime /run/bitcoind/{{ bitcoind_network }}
RuntimeDirectory=bitcoind/{{ bitcoind_network }}
RuntimeDirectoryMode=0710

# Bitcoin configuration /etc/bitcoin/{{ bitcoind_network }}
ConfigurationDirectory=bitcoin/{{ bitcoind_network }}
ConfigurationDirectoryMode=0750

Restart=on-failure
RestartSec=30

User={{ bitcoind_user }}
Group={{ bitcoind_group }}

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
