chain={{ bitcoind_network }}
pid=/run/bitcoind/{{ bitcoind_network }}/bitcoind.pid
datadir={{ bitcoind_data_dir }}

daemon=1
server=1
txindex=1
whitelist=127.0.0.1

{% if bitcoind_use_onion %}
onlynet=onion
proxy={{ bitcoind_onion_proxy }}
listen=1
{% for item in bitcoind_onion_nodes %}
addnode={{ item }}
{% endfor %}
{% endif %}

zmqpubrawblock=tcp://{{ bitcoind_zmq_host }}:28332
zmqpubrawtx=tcp://{{ bitcoind_zmq_host }}:28333
zmqpubhashblock=tcp://{{ bitcoind_zmq_host }}:28332

[{{ bitcoind_network }}]
bind={{ bitcoind_bind }}
rpcbind={{ bitcoind_rpc_bind }}
rpcport={{ bitcoind_rpc_port }}
{% for item in bitcoind_rpc_allow_ips %}
rpcallowip={{ item }}
{% endfor %}
{% if bitcoind_rpc_auth %}
rpcauth={{ bitcoind_rpc_auth }}
{% else %}
rpcuser={{ bitcoind_rpc_user }}
rpcpassword={{ bitcoind_rpc_password }}
{% endif %}
