---
name: Bitcoin
on:
  pull_request:
  push:
    branches:
      - main

jobs:

  molecule:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        distro:
          - ubuntu2004
          - ubuntu2204
    steps:
      - uses: actions/checkout@v4

      - name: Test with molecule
        run: make test DISTRO=${{ matrix.distro }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
